node_modules
**/node_modules
**/dist
client/dist
client/node_modules
client/public
client/src
client/test
packages/dealer-node/secrets
packages/dealer-node/*.log
packages/dealer-node/dealer.toml
packages/dealer-node/dealer-preview.toml
packages/dealer-node/dealer2-preview.toml
packages/dealer-node/dealer-journal.log
*.log
.env
.env.local
.env.preprod
.env.preview
otc-midnight-db*
.wallet-state
contracts/managed/*/keys/*.prover
.git
docs
